<h1>About <%=@city.city%><h1>
<h2><%=@time_zone%></h2>
<h2>Population of <%=@city.country%>: <%=@country_population.to_s%><h2>
<h2>Treinding twitter keywords</h2>
<! -- <%=@trending_topics%> -->
<%=raw(@images)%>

<% if user_signed_in?%>
  <h2>Memo</h2>
  <%@city.memos.where(user_id: current_user.id).each do |memo| %>
    <li><%= memo.memo%>| <%= link_to 'Delete', city_memo_path(@city,memo), method: :delete%> </li>
  <% end %>
<h1><%= link_to 'Add Memo', new_city_memo_path(@city) %></h1>
<h3><%= link_to 'Visit', city_visits_path(@city), method: :post%></h3>
<%end%>
