<!DOCTYPE html>
<html>
<head>
  <title>Sup Wolrd?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand">Sup World?</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <% if user_signed_in?%>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cities Visited <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <% current_user.visits.each do |visit|%>
                <li><%=link_to visit.city.city, visit.city%></li>
              <% end %>
            <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div>
             <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-info navbar-btn"%> |
              <%= link_to "Logout", destroy_user_session_path, class: "btn btn-info navbar-btn", method: :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info navbar-btn"%> |
              <%= link_to "Login", new_user_session_path, class: "btn btn-info navbar-btn"%>
            <% end %>
          </div>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <% flash.each do |name, msg| %>
   <% if msg.is_a?(String) %>
     <%= content_tag :div, msg, :class => "flash_#{name}" %>
   <% end %>
  <% end %>

  <%= yield %>
  <div class="row">
    <div class="col-lg-12">
      <br><br>
        <p class="pull-right"> Developed by Kaga &nbsp; <a href="https://www.linkedin.com/pub/kagayaki-kaga-kawabata/41/790/8bb">LinkedIn</a> </p>
      <br><br>
    </div>
  </div>

</body>
</html>
